body {
    background: #000;
}



.color1_0 {
    background: #101010;
}

.color1_1 {
    background: #17181b;
}

.color1_2 {
    background: hsl(208, 20%, 29%);
}


.color1_3 {
    background: hsl(0, 20%, 29%);
}

