@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,400;1,600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.panel {
    padding: 2px;
    font-weight: 600;
}

.panel-title {
    font-size: 32px;
    margin-left: 16px;
}

.add-sklenicka {
    margin: 4px 3px;
    width: 95%;
    max-width: 200px;
    color: #bababa;
    display: inline-block;
    border-radius: 8px;
    font-size: 28px;
    transition: 250ms;
    padding: 18px 0;
}

.add-sklenicka:hover {
    color: #FFF;
}

.goal-input {
    background: transparent;
    border-bottom: 4px hsl(208, 20%, 29%) solid;
    border-radius: 0;
    padding: 4px 18px;
    color: #fff;
    transition: 250ms;
}

.goal-input:hover {
    border-bottom: 4px hsl(208, 60%, 29%) solid;
}

.goal-tlacitko {
    border-radius: 8px;
    padding: 18px 0;
    color: #fff;
    transition: 250ms;
}

.goal-tlacitko:hover {
    background: hsl(208, 60%, 29%);
}

.title2 {
    display: inline-block;
    color: rgb(179, 136, 136);
    rotate: -5deg;
    font-weight: 600;
}

.rozdelovac2 {
    display: block;
    width: 100%;
    background: #101010;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title {
    font-size: 24px;
    margin: 8px 0;
    color: #c3c3c3;
}

.zbyva {
    font-size: 32px;
    position: relative;
    color: rgb(205, 205, 205);
}

.vyzn {
    color: rgb(119, 207, 105);
    font-weight: 600;
    font-style: normal;
}

.zbyva_ {
    color: rgb(119, 207, 105);
    font-weight: 600;
    font-style: normal;
}

.lomitko {
    user-select: none;
    font-size: 28px;
}

.popis {
    color: #7c7c7c;
    font-size: 38px;
}

.cont {
    box-shadow: #000 1px 2px 20px 2px;
}